<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/device_template.css">
</head>
<body>

<h2>Edit Device Template Variables</h2>
<br>
<ul>
    <li>Enter settings for each variable below</li>
    <li>Mouse hover over the description for more details</li>
    <li>Fields with <span style="color: blue">blue</span> text are optional settings</li>
    <li>Some fields in black may be mandatory only if a corresponding optional field is filled</li>
</ul>
<br>
<a href="/edittemplate?templateId={{template_id}}">Edit this template Categories and Descriptions</a><br>
<a href="/menu">Return to main menu</a><br><br>
<h2>Device Information:</h2>
{{not_editable}}
<br><h2>Editable Settings:</h2>
<form action="/savesettings">
{{editable}}
  <button type="submit">Submit</button>
</form>
<script>
    rowNum = {{rowNum}};
    maxRowNum = {{maxRowNum}};
</script>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = 500 + "px";
<!--      content.style.maxHeight = content.scrollHeight + "px";-->
    }
  });
}
</script>
<script src="static/device_template.js">
</script>


</body>
</html>
